@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000; /* pure black */
	margin: 0;
	padding: 0;
	overflow: hidden; /* optional: prevents scrollbars from random floats */
	color: white; /* makes sure text (if any) is visible */
	font-family: sans-serif;
}
.floating-icons {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	z-index: 1;
}

.floating-icon {
	position: absolute;
	font-size: 1.5rem;
	color: white;
	opacity: 0.3;
	animation-name: float;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes float {
	0% {
		transform: translateY(0px) scale(1);
		opacity: 0.3;
	}
	50% {
		transform: translateY(-40px) scale(1.2);
		opacity: 0.6;
	}
	100% {
		transform: translateY(0px) scale(1);
		opacity: 0.3;
	}
}


.label-text {
	color: white;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
